registry=https://registry.npmmirror.com/
#registry=https://registry.npmjs.org
# 如果启用此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败
strict-peer-dependencies=false
# 开启此项 scripts pre post 才会执行
enable-pre-post-scripts=true
# 在 root workspace 包添加依赖项时会失败无需加 -w
ignore-workspace-root-check=true
# not trigger git check
git-checks=false
